/* Made by Magery */
*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    background: #232323;
}

.nav-bar{
    display: flex;
    margin: 57px 100px 0 100px;
    align-items: center;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    color: #fff;
}

.nav-links li a{
    margin-right: 20px;
    font-weight: 800;
    font-size: 18px;
}

.nav-links li svg{
    display: none;
}

.nav-links .separator{
    font-size: 31pt;
    margin: 0 30px;
}

.nav-bar a{
    background: transparent;
    font-weight: 800;
    font-size: 18px;
    color: #fff;
}

.nav-bar .out{
    margin-left: auto;
}

.nav-bar .logo{
    margin: 0 30px 0 0;
}

main {
    margin-top: 156px;
    margin-left: 100px;
    margin-right: 100px;
}

main p{
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    align-items: center;
    max-width: 476px;
    margin-right: 50px;
    background: transparent;
}

.register{
    position: relative;
    width: 184px;
    height: 41px;
    border: none;
    background: #67db38;
    border-radius: 100px;
    color: white;
    font-weight: 800;
    font-size: 20px;
    align-items: center;
    text-align: center;
    box-shadow: 1px 4px #077819;
}

.not-now{
    position: relative;
    width: 184px;
    height: 41px;
    border: none;
    background: #191919;
    border-radius: 100px;
    color: white;
    font-weight: 800;
    font-size: 20px;
    align-items: center;
    text-align: center;
    box-shadow: 1px 4px #000000;
}

button {
    margin-top: 100px;
    margin-right: 12px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 810px){

    .nav-bar .separator{
        display: none;
    }

    .nav-links{
        bottom: 0;
        background: #2f2f2f;
        box-shadow: 0 10px 20px 12px #161616;
        right: 0;
        left: 0;
        height: 50px;
        width: 100vw;
        justify-content: center;
        position: fixed;
        z-index: 2;
    }


    .nav-links li{
        color: white;
        background: transparent;
        margin: 0 auto;
    }

    .nav-links li a{
        display: none;
    }

    .nav-links li svg{
        display: block;
        fill: #67db38;
        background: transparent;
        height: 40px;
    }


    main, .nav-bar{
        margin-left: 50px;
        margin-right: 50px;
    }

    main {
        margin-top: 100px;
    }

    button{
        margin-top: 50px;
    }
}